.table-head-div{
    font-size: 18px;
}

.table-body-div{
    font-size: 16px;
}

.card-header1{
    background: #AA8B56;
}

.card-header2{
    background: #AA8B56;
}

.card-title1{
    color: white;
    font-size: 24px;
}

.card-title2{
    color: white;
    font-size: 24px;
}

.card-body1{
    background-color: rgba(240, 255, 240, 0.685);
}

.card-body2{
    background-color: rgba(240, 255, 240, 0.685);
}

.main-div{
    padding: 1vw;
}

.lowstock-title{
    background-color: rgba(116, 0, 0, 0.514);
    color: white;
}

/*Category*/
#category-Tropical{
    color: rgb(118, 0, 187);
    background-color: rgba(197, 118, 250, 0.219);
}

#category-Pet-Friendly{
    color: rgb(0, 81, 187);
    background-color: rgba(118, 186, 250, 0.322);
}

#category-Indoor-Plants{
    color: rgb(150, 97, 0);
    background-color: rgba(250, 204, 118, 0.322);
}

#category-Outdoor-Plants{
    color: rgb(84, 148, 0);
    background-color: rgba(177, 250, 118, 0.322);
}

/*Tag*/
#tag-Beginner-Friendly{
    color: rgb(117, 0, 59);
    background-color: rgba(228, 147, 204, 0.322);
}

#tag-Green-Thumb{
    color: rgb(0, 117, 111);
    background-color: rgba(157, 221, 196, 0.322);
}

#tag-Gardening-Guru{
    color: rgb(77, 50, 0);
    background-color: rgba(201, 111, 51, 0.322);
}



