.addtocart-button {
  background-color: #435B38;
  color: #d6fbd6;
}

.addtocart-button:hover {
  color: #435B38;
  background-color: #d6fbd6;
}

.addtocart-button:focus {
  background-color: #435b38;
  color: #d6fbd6;
}

.plant-name{
  text-decoration: none;
  color:black;
}

.plant-name:hover{
  text-decoration: none;
  color:#555;
  
}