.marble-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://res.cloudinary.com/dm6a8aocc/image/upload/v1675543971/third-project/close-up-white-marble-texture-background_1_akw6hz.jpg);
}

.no-items{
    height: 100vh;
}

.icon-gradient{
    background: radial-gradient(circle at 10% 20%, rgb(253, 255, 110) 0%, rgb(255, 208, 105) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

