@media (min-width: 1025px) {
  .h-custom-2 {
    height: 80%;
  }
}
.sign-form-div {
  width: 100%;
}
.signIn-button {
  background-color: #435b38;
  color: #d6fbd6;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.signIn-button:hover {
  color: #435b38;
  background-color: #d6fbd6;
}
.signIn-title {
  font-size: 2.5rem;
  color: #435b38;
  margin-bottom: 6vh;
}
.form-control {
    width: 20vw;
}
