.gradient-custom {
    /* fallback for old browsers */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://img.freepik.com/free-vector/green-monstera-leaves-with-copy-space-vector_53876-111532.jpg?w=1800&t=st=1675357110~exp=1675357710~hmac=c92f1bfced229fd70f79275b85bb31ed7d1f4b8220accf32aa14010a12df2f4b);
}

