.gradient-custom {
    /* fallback for old browsers */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://res.cloudinary.com/dm6a8aocc/image/upload/v1675543861/third-project/rm191-nu-08_oplson.jpg);
}

.no-items{
    height: 100vh;
}