.icon-gradient {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 255, 110) 0%,
    rgb(255, 208, 105) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviewHistory-button {
  background-color: #435b38;
  color: #d6fbd6;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.reviewHistory-button:hover {
  color: #435b38;
  background-color: #d6fbd6;
}
.delete-button {
  margin-bottom: 2vh;
}
