@media (min-width: 1025px) {
  .h-custom-2 {
    height: 50%;
  }
}
.form-div {
  width: 100%;
}
.login-button {
  background-color: #435B38;
  color: #d6fbd6;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.login-button:hover {
    color: #435B38;
    background-color: #d6fbd6;
  }
.login-title {
  margin-top: 4vh;
    font-size: 2.5rem;
    color:#435B38;
    margin-bottom: 6vh;
}