@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Signika&display=swap');

body{
    font-family: 'Signika', sans-serif;
    font-size: 16px;
}

.styled-div {
    width: 100vw;
    height: 100vh;
    background-image:url(https://res.cloudinary.com/dm6a8aocc/image/upload/v1675544556/third-project/9926448_4310019_w14zzh.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

.title-success{
    color: rgb(0, 80, 0);
}

.text-div{
    padding: 40px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.paragraph1{
    font-size: 18px;
}

.paragraph2{
    font-size: 18px;
}

.confettis{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}