@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Signika&display=swap');

body{
    font-family: 'Signika', sans-serif;
    font-size: 16px;
}

.styled-div {
    width: 100vw;
    height: 100vh;
    background-image:url(https://img.freepik.com/free-vector/nature-background-design-with-golden-foil_52683-46174.jpg?w=2000);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

.title-success{
    color: rgb(0, 80, 0);
}

.text-div{
    padding: 80px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.paragraph1{
    font-size: 18px;
}

.paragraph2{
    font-size: 18px;
}